div{
    width:200px;
    height:200px;
    border: 1px  solid red;
    background-color: yellow;
    color:black;
    padding:20px;

}
body
{
    display:flex;

}
p
{
    background-color: blue;
    color:white;
    width: 200px;
}